<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= link_to @profile_account.name, edit_profile_account_path(@profile_account) %>
</p>

<p>
  <b>Description:</b>
  <%= link_to @profile_account.description, edit_profile_account_path(@profile_account) %>
  <br /><br />
</p>

<%= render :template => 'envelopes/index.html.erb' %>
<%= render :template => 'accounts/index.html.erb' %>
<%= render :template => 'line_items/index.html.erb' %>
