<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @profile_account.name %>
</p>

<p>
  <b>Description:</b>
  <%= @profile_account.description %>
</p>

<table class="table">
  <tr>
    <th>Name</th><th>Price</th><th>Date</th><th>Description</th>
  </tr>
  <% @profile_account.line_items.each do |line_item| %>
    <tr>
      <td><%= link_to line_item.name, edit_profile_account_line_item_path(@profile_account, line_item) %></td>
      <td><%= line_item.price %></td>
      <td><%= line_item.date_of_purchase %></td>
      <td><%= line_item.description %></td>
    </tr>
  <% end %>
  <tr>
    <td>
      <%= link_to "New Line Item", new_profile_account_line_item_path(@profile_account) %>
    </td>
  </tr>
</table>

<%= link_to 'Edit', edit_profile_account_path(@profile_account) %> |
<%= link_to 'Back', profile_accounts_path %>
