<h1>Listing envelopes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Budget</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @envelopes.each do |envelope| %>
  <tr>
    <td><%= envelope.name %></td>
    <td><%= envelope.budget %></td>
    <td><%= link_to 'Show',  profile_account_envelope_path(@profile_account,envelope)  %></td>
    <td><%= link_to 'Edit', edit_profile_account_envelope_path(@profile_account,envelope) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Envelope', new_profile_account_envelope_path(@profile_account) %>
