<p id="notice"><%= notice %></p>

<h1>Envelope</h1>
<p>
  <b>Name:</b>
  <%= @envelope.name %>
</p>

<p>
  <b>Budget:</b>
  <%= @envelope.budget %>
</p>

<%= link_to 'Edit', edit_profile_account_envelope_path(@profile_account,@envelope) %>

<%= render :template => 'line_items/index.html.erb' %>
