<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @envelope.name %>
</p>

<p>
  <b>Budget:</b>
  <%= @envelope.budget %>
</p>


<%= link_to 'Edit', edit_profile_account_envelope_path(@profile_account,@envelope) %> |
<%= link_to 'Back', profile_account_path(@profile_account)%>
