<%= form_for [@profile_account, @line_item] do |f| %>
  <% if @line_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@line_item.errors.count, "error") %> prohibited this line_item from being saved:</h2>

      <ul>
      <% @line_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :price %><br />
    $<%= f.text_field :price %>
  </div>
<% unless @line_item.allocation %>
  <div class="field">
    <%= f.label :allocation %> <%= f.check_box :allocation %>
  </div>
  <div>
    <%= f.label :envelope_id %><br />
    <%= f.collection_select :envelope_id, @profile_account.envelopes, :id, :name, :prompt => "Select an Envelope" %>
  </div>

  <div>
    <%= f.label :account_id %><br />
    <%= f.collection_select :account_id, @profile_account.accounts, :id, :name, :prompt => "Select an Account" %>
  </div>
<% end %>

  <div class="field">
    <%= f.label :date_of_purchase %><br />
    <%= f.date_select :date_of_purchase %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
